In [16]:
import pandas as pd
import numpy as np

In [17]:
bike1_df = pd.read_csv("data/metro-trips-2025-q1.csv")
bike2_df = pd.read_csv("data/metro-trips-2025-q2.csv")
bike3_df = pd.read_csv("data/metro-trips-2025-q3.csv")

bike_df = pd.concat([bike1_df, bike2_df, bike3_df], ignore_index=True)

bike_df.head()

,trip_id,duration,start_time,end_time,start_station,start_lat,start_lon,end_station,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type,bike_type
0,475609834,5,1/1/2025 0:12,1/1/2025 0:17,3030,34.051941,-118.243530,4491,34.047440,-118.247940,13668,30,One Way,Monthly Pass,standard
1,475609846,7,1/1/2025 0:12,1/1/2025 0:19,4558,34.025688,-118.395302,4569,34.026550,-118.408463,30021,30,One Way,Monthly Pass,electric
2,475609903,11,1/1/2025 0:13,1/1/2025 0:24,4212,33.988129,-118.471741,4206,33.998341,-118.461014,14923,30,One Way,Monthly Pass,standard
3,475609904,11,1/1/2025 0:13,1/1/2025 0:24,4212,33.988129,-118.471741,4206,33.998341,-118.461014,26704,30,One Way,Monthly Pass,electric
4,475610048,13,1/1/2025 0:27,1/1/2025 0:40,4472,34.092602,-118.280930,4509,34.101639,-118.309174,14790,30,One Way,Monthly Pass,standard

In [19]:
weather_df = pd.read_csv("data/weather-data.csv")

weather_df.head()

,Date,Min Temp (C),Min Temp M Flag,Min Temp Q Flag,Min Temp S Flag,Max Temp (C),Max Temp M Flag,Max Temp Q Flag,Max Temp S Flag,Avg Temp (C),Precipitation (mm),Precipitation M Flag,Precipitation Q Flag,Precipitation S Flag,Average Wind Speed (m/s),Average Wind Speed M Flag,Average Wind Speed Q Flag,Average Wind Speed S Flag
0,1939-07-01,17.2,NaN,NaN,0,24.4,NaN,NaN,0,20.80,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
1,1939-07-02,18.3,NaN,NaN,0,23.3,NaN,NaN,0,20.80,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
2,1939-07-03,16.7,NaN,NaN,0,21.7,NaN,NaN,0,19.20,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
3,1939-07-04,17.2,NaN,NaN,0,21.7,NaN,NaN,0,19.45,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
4,1939-07-05,17.8,NaN,NaN,0,22.2,NaN,NaN,0,20.00,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN