In [2]:
import pandas as pd
import numpy as np

In [28]:
bike1_df = pd.read_csv("data/metro-trips-2025-q1.csv")
bike2_df = pd.read_csv("data/metro-trips-2025-q2.csv")
bike3_df = pd.read_csv("data/metro-trips-2025-q3.csv")

bike_df = pd.concat([bike1_df, bike2_df, bike3_df], ignore_index=True)

bike_keep_cols = [
    "trip_id",
    "duration",
    "start_time",
    "end_time",
    "bike_type"
]

bike_clean = bike_df[bike_keep_cols].copy()

bike_clean["start_time"] = pd.to_datetime(bike_clean["start_time"], errors="coerce")
bike_clean["end_time"] = pd.to_datetime(bike_clean["end_time"], errors="coerce")

bike_clean["date"] = bike_clean["start_time"].dt.date

bike_clean.head()

,trip_id,duration,start_time,end_time,bike_type,date
0,475609834,5,2025-01-01 00:12:00,2025-01-01 00:17:00,standard,2025-01-01
1,475609846,7,2025-01-01 00:12:00,2025-01-01 00:19:00,electric,2025-01-01
2,475609903,11,2025-01-01 00:13:00,2025-01-01 00:24:00,standard,2025-01-01
3,475609904,11,2025-01-01 00:13:00,2025-01-01 00:24:00,electric,2025-01-01
4,475610048,13,2025-01-01 00:27:00,2025-01-01 00:40:00,standard,2025-01-01

In [29]:
weather_df = pd.read_csv("data/visual-crossing-weather-data.csv")

weather_keep_cols = [
    "datetime",
    "tempmax",
    "tempmin",
    "temp",
    "humidity",
    "precip",
    "precipprob",
    "windspeed",
    "conditions"
]

weather_clean = weather_df[weather_keep_cols].copy()
weather_clean["date"] = pd.to_datetime(weather_clean["datetime"], errors="coerce")
weather_clean["date"] = weather_clean["date"].dt.date

weather_clean.head()

,datetime,tempmax,tempmin,temp,humidity,precip,precipprob,windspeed,conditions,date
0,2025-01-01,64.1,42.5,51.4,81.8,0.0,0,8.0,Partially cloudy,2025-01-01
1,2025-01-02,76.5,40.2,55.9,59.0,0.0,0,8.4,Clear,2025-01-02
2,2025-01-03,68.8,44.6,53.2,66.5,0.0,0,12.3,Clear,2025-01-03
3,2025-01-04,62.1,46.2,53.2,76.4,0.0,0,9.9,Partially cloudy,2025-01-04
4,2025-01-05,73.1,43.7,57.1,49.0,0.0,0,11.9,Clear,2025-01-05

In [27]:
merged_df = bike_clean.merge(weather_clean, on="date", how="left")

merged_df.head()

,trip_id,duration,start_time,end_time,bike_type,date,datetime,tempmax,tempmin,temp,humidity,precip,precipprob,windspeed,conditions
0,475609834,5,2025-01-01 00:12:00,2025-01-01 00:17:00,standard,2025-01-01,2025-01-01,64.1,42.5,51.4,81.8,0.0,0,8.0,Partially cloudy
1,475609846,7,2025-01-01 00:12:00,2025-01-01 00:19:00,electric,2025-01-01,2025-01-01,64.1,42.5,51.4,81.8,0.0,0,8.0,Partially cloudy
2,475609903,11,2025-01-01 00:13:00,2025-01-01 00:24:00,standard,2025-01-01,2025-01-01,64.1,42.5,51.4,81.8,0.0,0,8.0,Partially cloudy
3,475609904,11,2025-01-01 00:13:00,2025-01-01 00:24:00,electric,2025-01-01,2025-01-01,64.1,42.5,51.4,81.8,0.0,0,8.0,Partially cloudy
4,475610048,13,2025-01-01 00:27:00,2025-01-01 00:40:00,standard,2025-01-01,2025-01-01,64.1,42.5,51.4,81.8,0.0,0,8.0,Partially cloudy